.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: hwb(218 57% 35%);
  min-height: 4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(23, 22, 22);
 
}

.App-link {
  color: #69a2b2;
}

.title {
  color: rgb(87, 83, 83);
  margin-bottom: 0;
  text-decoration: none;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 50px;
  text-transform: uppercase;
  display: inline-block;
  line-height: 30px;
  margin-bottom: 00px;

}

.article_card {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
justify-content: space-evenly;
justify-items: center;
list-style: none;
border: 1px solid rgb(63, 61, 61);
max-width: 400px;
min-height: 100px;
font-family:'Playfair Display', serif;
text-transform: uppercase;


padding-left: 30px;
border-radius: 5px;
align-items: center;
align-content: center;
text-align: center;
margin: 0 auto;
background-image: url("newspaper_background.png");
padding: 10px;
font-size: small;
margin-top: 20px;
}

.article-info {
  font-size: medium;
  font-family: sans-serif;
  font-style: italic;
}

.sidebar {
  height: 100%;
  width: 120px;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 40px;
  background-color: rgb(143, 160, 162);
  
  }
  
  
  .sidebar div {
  padding: 8px;
  font-size: 20px;
  display: block;
  }


.Users-link {
  color: #2da1c1;
    font-size: medium;
    text-decoration: none;
    position: absolute;
    right: 20px;
    

}
.Users-link
{
    color: rgb(60, 72, 99);
    text-decoration: underline; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-weight: bold;
}

.single-article {
border-radius: 0px;
align-items: center;
align-content: center;
text-align: center;
margin: 0 auto;
background-color: #c5c0c0;
padding: 90px;
font-size: small;
margin-top: 60px;
max-width: 450px;
min-height: 250px;
margin-left: 230px;
text-decoration: none;

}

.single-article-title {
  margin-top: 0px;
  margin-bottom: 50px;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
}
